*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f172a;
    color:#fff;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:100%;
    max-width:600px;
    padding:20px;
}

.card{
    background:#1e293b;
    padding:30px;
    border-radius:15px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:10px;
}

input[type="range"]{
    width:100%;
    margin:15px 0;
}

.options{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
    margin:20px 0;
}

button{
    cursor:pointer;
    border:none;
}

#generateBtn{
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border-radius:8px;
    font-size:16px;
}

.password-box{
    display:flex;
    margin-top:20px;
    gap:10px;
}

#password{
    flex:1;
    padding:12px;
    border:none;
    border-radius:8px;
    font-size:16px;
}

#copyBtn{
    background:#38bdf8;
    color:#000;
    padding:12px;
    border-radius:8px;
}

.strength{
    margin-top:15px;
    text-align:center;
    font-weight:bold;
}
